<div class="page">
  <app-header></app-header>

  <main class="body">

      <!-- serve per iterare su tutti i voli presenti in base agli scali-->
    <div *ngFor="let flight of journey.flights">
        <h2 class="title">Seleziona i posti per il volo {{ flight.aircraft.airline.name }} ({{ flight.aircraft.airline.code }})</h2>

        <div 
    *ngFor="let extra of extras.get(flight.id)"
    class="extra-card"
    [class.selected]="isExtraSelected(flight, extra)"
    (click)="toggleExtra(flight, extra)"
  >
    <div class="extra-info">
      <span class="name">{{ extra.name }}</span>
      <span class="price">+{{ extra.price }}€</span>
    </div>

    <!-- ✔ ICONA -->
    <div class="checkmark" *ngIf="isExtraSelected(flight, extra)">
      ✓
    </div>
  </div>
    </div>  

    <button class="confirm-btn" (click)="confirmBooking()">
      Confirm
    </button>

    </main>
</div>