/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #e0e7ff 0%, #f8fafc 100%);
}

[class$="-page"] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


footer, app-footer {
  margin-top: auto;
}


.passenger-page{
  min-height: 35vh;
  display: flex;
  flex-direction: column;
}
