client/node_modules/
client/projectDB/README.md
server/server-venv/
request.rest
__pycache__/
server/__pycache__/
server/app/config
.vscode/
server/migrations

Video/
Documentazione/

node_modules/
dist/

.env
