<div class="page">
  <!-- Header -->
  <app-header></app-header>

  <!-- Body -->
  <main class="body">
    <div class="container">

      <!-- Form di ricerca -->
      <form [formGroup]="searchForm" class="search-form">
        <div class="d-flex gap-2 flex-wrap">

          <!-- Input Partenza -->

          <mat-form-field class="form-input">
            <mat-label>Departure</mat-label>
            <input #departureCity type="text" placeholder="Pick one" matInput [formControl]="searchForm.controls.from" [matAutocomplete]="departureAuto"
              (input)="filterDepartureCities()" (focus)="filterDepartureCities()">
            <mat-autocomplete requireSelection #departureAuto="matAutocomplete">
              @for (option of filteredDepartureCities; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-autocomplete> 
          </mat-form-field>

          <!-- <input id="from-airport" name="from-airport" list="from-airports" (input)="onInputChange($event)"
            placeholder="Partenza" class="form-control w-auto" formControlName="from">
          <datalist id="from-airports">
            <option *ngFor="let city of cities" [value]="city"></option>
          </datalist> -->

          <!-- Input Arrivo -->
          <!-- <input id="to-airport" name="to-airport" list="to-airports" (input)="onInputChange($event)"
            placeholder="Arrivo" class="form-control w-auto" formControlName="to">
          <datalist id="to-airports">
            <option *ngFor="let city of cities" [value]="city"></option>
          </datalist> -->

            <mat-form-field class="form-input">
            <mat-label>Destination</mat-label>
            <input #destinationCity type="text" placeholder="Pick one" matInput [formControl]="searchForm.controls.to" [matAutocomplete]="destinationAuto"
              (input)="filterDestinationCities()" (focus)="filterDestinationCities()">
            <mat-autocomplete requireSelection #destinationAuto="matAutocomplete">
              @for (option of filteredDestinationCities; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-autocomplete> 
          </mat-form-field>

          <!-- Input Data -->
          <!-- <input type="date" class="form-control w-auto" formControlName="departure_date"> -->
           <mat-form-field class="form-input">
            <mat-label>MM/DD/YYYY</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="departure_date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- Bottone ricerca -->
          <button type="button" class="btn btn-dark" (click)="searchFlights()">Search</button>
        </div>

      </form>



      <!-- Lista voli trovati -->

      
      <router-outlet></router-outlet>
      
    </div>
  </main>


  <!-- Footer -->
  <footer class="footer">
    <p>© 2025 MyFlights. Tutti i diritti riservati.</p>
  </footer>
</div>