<div>
  <div class="container">
    <form [formGroup]="registerForm">
    <div class="d-flex gap-2">
        <input type="text" class="form-control w-auto" placeholder="email" formControlName="email">
        <input type="text" class="form-control w-auto" placeholder="password" formControlName="password">

        
        <input type="text" class="form-control w-auto" placeholder="name" formControlName="name">
        <input type="text" class="form-control w-auto" placeholder="surname" formControlName="surname">

        <button type="button" class="btn btn-dark" (click)="register()">Register</button>
        
          
        </div>
      </form>
  </div>
</div>
