.flights-layout {
  display: flex;
  gap: 1.5rem;           
  align-items: flex-start; 
  padding: 1rem;
}


.filters {
  flex: 0 0 300px;        
  max-width: 300px;
}


.list {
  flex: 1;               
}
