<div>

  <div class="container">
    <form [formGroup]="searchForm">
    <div class="d-flex gap-2">
        <input type="text" class="form-control w-auto" (input)="onInputChange($event)" placeholder="Departure" formControlName="from">
        <!--@if(airports.length > 0){
        <ul class="list-group-item list-group-item-action">
           @for(a of airports; track a.code){
                    <li>
                        {{a.name}} ({{a.code}}) - {{a.city}}
                    </li>
                }
                
              </ul>
          } -->
          <input type="text" class="form-control w-auto" (input)="onInputChange($event)" placeholder="Arrival" formControlName="to">


          <input type="date" class="form-control w-auto" formControlName="departure_date">
          <!-- <input type="date" class="form-control w-auto" formControlName="arrival_date"> -->

          <button type="button" class="btn btn-dark" (click)="searchFlights()">Search</button>
          
        </div>
      </form>
  </div>
</div>