.dashboard-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}


.stats-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.stat-card{
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
    border-left: 5px solid #2b74ff;
}

.stat-card:hover{
    transform: translateY(-5px);
}

.stat-label{
    color: #666;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.stat-vale{
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

.stat-icon{
    font-size: 2rem;
    opacity: 0.8;
}

/* css for charts */

.charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.chart-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.chart-card h3 {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #444;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.chart-wrapper {
    position: relative;
    height: 300px;
    width: 100%;
}
