
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex: 1;
  padding: 30px 0;
  background: linear-gradient(120deg, #e0e7ff 0%, #f8fafc 100%);
}

.flight-content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

/* PANNELLO CLASSI */
.classes-panel {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.class-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: 0.2s;
  background: #fafafa;
}

.class-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.class-card.active {
  border: 2px solid #1976d2;
  background: #e3f2fd;
}

.seat-map {
  display: grid;
  grid-template-columns: repeat(2, 10px) 80px repeat(3, 10px);
  row-gap: -5px;  
  column-gap: 50px;
  justify-content: center;
}

.seat {
  width: 15px;
  height: 15px;
  border-radius: 100%;        /* forma circolare */
  border: none;
  cursor: pointer;
  background-color: steelblue;    /* default: disponibile */
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

.seat.unavailable {
  background-color: gray !important;
  cursor: not-allowed;
  opacity: 0.6;
}

.seat.selected {
  outline: 3px solid black !important; 
  background-color: green !important;
}

.container {
  display: flex;
  flex-direction: column;  /* mette le card in colonna */
  align-items: center;     /* centra le card orizzontalmente */
  padding: 20px;
  gap: 20px;               /* distanza verticale tra le card */
}

.ticket-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  padding: 20px;
  width: 80%;               /* larghezza della card rispetto al container */
  font-family: 'Arial', sans-serif;
}

.ticket-header h3 {
  margin: 0 0 5px 0;
  color: #1a73e8;
}

.ticket-header p {
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #555;
}

.flight-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
}



.passenger-info {
  margin-bottom: 15px;
  font-size: 14px;
}

.ticket-options label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.extras-options {
  margin-top: 10px;
}

.extra-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-bottom: 5px;
}

.extra-item input {
  margin-right: 5px;
}

.ticket-cost {
  margin-top: 15px;
  font-size: 16px;
  text-align: right;
  color: #1a73e8;
}

.buy-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.buy-btn:hover {
  background: #1558b0;
}