.no-flights {
  text-align: center;
  font-style: italic;
  color: #888;
}


.flights-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flight-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  border-left: 5px solid #343a40;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.flight-card p {
  margin-bottom: 5px;
}