@if(loading){
    <app-loading></app-loading>
}
@else if(!journeys || journeys.length === 0 ){
<div class="no-flights">
    <p>No flights found</p>
</div>
}
@else {
    <h1>Flights found</h1>
<div *ngFor="let journey of journeys" class="card flight-card mb-4 shadow-sm">
    <div class="card-body">
       
        <h5 class="card-title text-primary">
            <ng-container *ngIf="journey.flights.length > 1; else diretto">
                Stopovers
            </ng-container>
            <ng-template #diretto>One way</ng-template>
        </h5>

        <hr>

        <!-- Primo volo -->
        <div class="mb-3">
            <h6 class="text-muted">Primo volo</h6>
            <div class="d-flex justify-content-between">
                <div>
                    <p class="mb-1"><strong>{{ journey.flights[0].aircraft.airline.name }}</strong></p>
                    <p class="mb-1">
                        {{ journey.flights[0].departureAirport.city }} ({{
                        journey.flights[0].departureAirport.code }})
                        → {{ journey.flights[0].arrivalAirport.city }} ({{
                        journey.flights[0].arrivalAirport.code }})
                    </p>
                </div>
                <div class="text-end">
                    <p class="mb-1">{{ journey.flights[0].departureTime | date: 'medium'}} → {{
                        journey.flights[0].arrivalTime | date: 'medium' }}</p>
                    <p class="mb-1 text-success">€{{ journey.flights[0].basePrice }}</p>
                </div>
            </div>
        </div>

        <!-- Secondo volo (solo se presente) -->
        <div *ngIf="journey.flights.length > 1" class="mb-3">
            <h6 class="text-muted">Secondo volo</h6>
            <div class="d-flex justify-content-between">
                <div>
                    <p class="mb-1"><strong>{{ journey.flights[1].aircraft.airline.name }}</strong></p>
                    <p class="mb-1">
                        {{ journey.flights[1].departureAirport.city }} ({{
                        journey.flights[1].departureAirport.code }})
                        → {{ journey.flights[1].arrivalAirport.city }} ({{
                        journey.flights[1].arrivalAirport.code }})
                    </p>
                </div>
                <div class="text-end">
                    <p class="mb-1">{{ journey.flights[1].departureTime | date: 'medium'}} → {{
                        journey.flights[1].arrivalTime | date:'medium' }}</p>
                    <p class="mb-1 text-success">€{{ journey.flights[1].basePrice }}</p>
                </div>
            </div>
        </div>

        <!-- Info generali -->
        <div class="d-flex justify-content-between align-items-center mt-3">
            <span><strong>Durata totale:</strong> {{ (journey.totalDuration / 3600) | number: '1.1-1' }} ore</span>
            <button class="btn btn-primary btn-sm"
                (click)="onBuyTicket(journey)">Select</button>
        </div>
    </div>
</div>
}

