<div class="airlines-page">
  <header class="topbar">
    <div class="topbar-inner">
      <div class="brand">
        <img src="/assets/plane-logo.png" alt="logo" class="logo" />
        <h1>Project DB</h1>
      </div>
      <nav class="top-actions">
        <span class="airline-title-large">{{ airlineName }}</span>
        <button class="logout-btn" title="Logout" (click)="onLogout()">
          <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 17L21 12L16 7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M21 12H9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M9 5H6A2 2 0 0 0 4 7V17A2 2 0 0 0 6 19H9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </nav>
    </div>
  </header>
  <main class="container">
    <section class="page-header">
      <h2>Dashboard Compagnia Aerea</h2>
      <p class="subtitle">Gestisci i tuoi aerei, tratte e voli</p>
    </section>
  </main>
  <div class="dashboard-body">
      <aside class="sidebar-tabs">
        <div class="tabs-vertical">
          <div class="tabs-indicator-vertical" [ngStyle]="{
            top: (activeTab * 50) + 'px',
            height: '50px'
          }"></div>
          <button *ngFor="let tab of tabs; let i = index"
            class="tab-v"
            [class.active]="activeTab===i"
            (click)="setTab(i)">
            {{tab.label}}
          </button>
        </div>
      </aside>

      <!-- Metterli in un for però occhio a passare i dati al figlio-->
      <section *ngIf="activeTab===0">
      <app-airline-dashboard [dashboardStats]="dashboardStats"></app-airline-dashboard>
    </section>
      <section *ngIf="activeTab===1">
      <app-aircrafts></app-aircrafts>
    </section>
    <section *ngIf="activeTab===2">
      <app-flights></app-flights>
    </section>
    <section *ngIf="activeTab===3">
      <app-routes></app-routes>
    </section>
    <section *ngIf="activeTab===4">
      <app-extra></app-extra>
    </section>

    </div>
  <app-footer></app-footer>
</div>
