<nav class="airlines-navbar">
  <div class="airlines-container airlines-navbar-container">
    <div class="airlines-navbar-brand">
  <img src="assets/plane-logo.png" alt="Logo" class="airlines-logo" style="height:55px; margin-right:15px;">
      <span class="airlines-title">{{ airlineName }}</span>
    </div>
    <ul class="airlines-navbar-links">
      <li><button class="nav-btn active" (click)="navigateTo(homeRoute)">Home</button></li>
      <li><button class="nav-btn" (click)="navigateTo(aircraftsRoute)">Aircrafts</button></li>
      <li><button class="nav-btn" (click)="navigateTo(flightsRoute)">Flights</button></li>
      <li><button class="nav-btn" (click)="navigateTo(routesRoute)">Routes</button></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
