<div class="page">
  <app-header></app-header>
<div class="summary-container">

  <h2 class="title">Riepilogo Prenotazione</h2>

  <div class="card" *ngIf="passenger">
    <h3 style="text-align: center;">Dati Passeggero</h3>
    <div class="passenger-grid">
      <div><strong>Nome:</strong> {{ passenger.name }} </div>
      <div><strong>Cognome:</strong> {{ passenger.surname }}</div>
      <div><strong>Email:</strong> {{ passenger.email }}</div>
    </div>
  </div>

  <div class="card" *ngFor="let flight of journey.flights">
    <div class="flight-header">
      <span class="airline">
        {{ flight.aircraft.airline.name }} ({{ flight.aircraft.airline.code }})
      </span>
      <span class="aircraft">{{ flight.aircraft.model }}</span>
      <span class="price">€ {{ flight.basePrice | number:'1.2-2' }}</span>
    </div>

    <div class="flight-body">
      <div class="route">
        <div class="airport">
          <div class="code">{{ flight.departureAirport.code }}</div>
          <div>{{ flight.departureAirport.city }}</div>
          <small>{{ flight.departureTime | date:'dd/MM/yyyy HH:mm' }}</small>
          <div>{{ flight.departureAirport.name }}</div>
        </div>

        <div class="arrow">→</div>

        <div class="airport">
          <div class="code">{{ flight.arrivalAirport.code }}</div>
          <div>{{ flight.arrivalAirport.city }}</div>
          <small>{{ flight.arrivalTime | date:'dd/MM/yyyy HH:mm' }}</small>
          <div>{{ flight.arrivalAirport.name }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="total-section">
    <div class="total-row">
      <span>A partire da</span>
      <span class="total-price">€{{ getTotal() | number:'1.2-2' }}</span>
    </div>

    <button class="confirm-btn" (click)="confirmPurchase()">
      Procedi con l'acquisto
    </button>
  </div>

</div>
</div>
