<div class="filters-section">
        <!-- Price Range -->
        <div class="filter-section">
          <h3>Max Price</h3>
          <label>
            Max: <input type="number" [(ngModel)]="filters.maxPrice" placeholder="1000">
          </label>
        </div>

        <!-- Layovers -->
        <div class="filter-section">
          <h3>Layovers</h3>
          <label>
            <input type="checkbox" [(ngModel)]="filters.nStop"> Non-stop
          </label>
        </div>

        <!-- Sort By -->
        <!-- <div class="filter-section">
    <h3>Sort by</h3>
    <select [(ngModel)]="filters.sortBy">
      <option value="price-asc">Price (Lowest)</option>
      <option value="price-desc">Price (Highest)</option>
      <option value="duration">Duration</option>
      <option value="departure">Departure Time</option>
      <option value="arrival">Arrival Time</option>
    </select>
  </div> -->

        <button >Apply Filters</button>
      </div>
